*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100%;
    background-color: beige;
}
nav{
    background-color: azure;
    padding: 10px 5px;
    font-style: italic;
    font-size: 10px;
}
div{
    padding: 10px;
}
section img{
    width: 100%;
    object-fit: contain;
    max-width: 400px;
    max-height: 500px;
    border-radius: 12px;
}
[data-testid="slackUserName"]{
    font-size: 30px;
}

@media (min-width: 1024px) {
    div, main{
        display: flex;
    }
    main{
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    h5{
        font-size: 25px;
    }
}